.accordionItem {
    width: 100%;
}

.accordionItem .header {
    width: 100%;
    height: 48px;
    background: #F8F8F8;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordionItem .header .leftBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.accordionItem .header .leftBlock p {
    font-weight: 600;
}