.accordionItem {
    width: 100%;
}

.accordionItem .header {
    width: 100%;
    height: 48px;
    background: #F8F8F8;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #acacac;
    cursor: pointer;
}

.accordionItem .header .block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 10px;
}

.accordionItem .header .block p {
    font-weight: 600;
    font-size: 15px;
}

.accordionItem .bottom {
    display: none;
    width: 100%;
    min-height: 100px;
    background: #FDFDFD;
    padding: 10px;
    transition: all .5s;
}

.accordionItem .bottom.active {
    display: block;
}